.App {
  text-align: center;
}


.counterbg {
  padding: 30px;
  background: #101010;
  color: white;
  font-size: 80px; 
}

#icon {
  background: rgb(31, 31, 31);
  text-align: center;
  margin: 10px;
  padding: 30px 15px 30px 15px;
  border-radius: 20px;
  vertical-align: middle;
}

#background {
  background: rgb(31, 31, 31);
  text-align: center;
  margin: 10px;
  padding: 30px 10px 30px 10px;
  border-radius: 20px;
}